aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
APScheduler==3.11.2
attrs==25.4.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
blinker==1.9.0
bs4==0.0.2
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.6
filelock==3.20.3
Flask==3.1.2
Flask-Bcrypt==1.0.1
flask-cors==6.0.2
Flask-Executor==1.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
frozenlist==1.8.0
greenlet==3.3.1
gunicorn==24.1.1
idna==3.11
importlib_metadata==8.7.1
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
multidict==6.7.1
packaging==26.0
propcache==0.4.1
pycparser==3.0
python-magic==0.4.27
pytz==2025.2
requests==2.33.0
six==1.17.0
soupsieve==2.8.3
SQLAlchemy==2.0.46
SQLAlchemy-Utils==0.42.1
typing_extensions==4.15.0
tzlocal==5.3.1
ua-parser==1.0.1
ua-parser-builtins==202601
urllib3==2.6.3
user-agents==2.2.0
Werkzeug==3.1.5
yarl==1.22.0
zipp==3.23.0
